<tr>
  <td><%= link_to book.name, admin_book_path(book.id) %></td>
  <td><%= book.author %></td>
  <td><%= book.category.name %></td>
  <td>
    <%= link_to edit_admin_book_path(book.id), class: 'nav-btn' do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to admin_book_path(book.id), class: 'nav-btn', data: {
      turbo: true, 
      turbo_method: :delete, 
      turbo_confirm: "Are you sure?" } do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </td>
</tr>